html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  background-color: #fefefe;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 2rem;
  background-color: #fefefe;
  width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
}

.form-card {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}

a {
  color: #2196f3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
